body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: green;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#player-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#bet {
    font-size: 20px;
}

#result {
    font-size: 50px;
}

#bet-input {
    margin: 20px;
    font-size: 20px;
}

#player-money {
    font-size: 30px;
}

#pot {
    font-size: 30px;
}